@import "media-queries-var";

// Brand
$c-brand-primary:   #6050A7;
$c-brand-secondary: #F3CD7E;

// background
$c-bg-primary:      #FFFFFF;

// fonts
$c-font-primary:    #000000;
$c-font-secondary:  #fff;
