//::-webkit-scrollbar {
//    width: 7px;
//}
//
//::-webkit-scrollbar-thumb {
//    border-radius: 10px;
//    background-color: rgba($c-bg-secondary, .25);
//}
//

body {
    background-color: $c-bg-primary;
    overflow-x: hidden;

    &.is-modal-open {
        overflow: hidden;
        max-height: 100vh;
    }

}

.container {
    max-width: 1280px;
    padding: 0 32px;
    width: 100%;
    margin: 0 auto;

    @include media('<tablet') {
        padding: 0 16px;
    }
}